[config]
skip_core_tasks = true

[tasks.build]
script = "cargo build --release"

[tasks.test]
script = '''
#!/usr/bin/env bash
./debug.sh 0 0
./debug.sh 42 42
./debug.sh 47 "5+6*7"
./debug.sh 25 "5*(9-4)"
./debug.sh 6  "24/4"
./debug.sh 4  "7-6/2"
'''
dependencies = [ "build" ]

[tasks.clean]
script_runner = "@shell"
script = [
  "cargo clean",
  "rm -rf ./tmp"
]
